<html>
<body class="color-body">

<%= image_tag 'color-palette1.jpg', class: 'hero_image2' %>

<br><br><br>
<h1>Learn Your Colors With Us!</h1>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="booyah-box2 col-sm-5 ">
  <a href="practice_colors"><span></span></a>
  <h1 align="center" >Learn</h1>
    <br /> 
  <h4>Check out all the colors at once! Click on each color to hear what color it is and see how it is spelled.</h4>
  </div>

  <div class="booyah-box3 col-sm-5 col-sm-offset-2">
    <a href="practice_colors"><span></span></a>
    <h1 align="center">Practice</h1>
    <br />
    <h4>Try to guess each color! Don't worry if you aren't sure, just click on the color to hear what it is!</h4>
  </div>
  <br class="clr" />

</div>


</body>
</html>

