
<body>

<%= image_tag 'learning4.jpg', class: 'hero_image1' %>

<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="booyah-box1 col-sm-5 ">
  <a href="colors"><span></span></a>
  <br>
  <h1 align="center">Colors</h1>
  <br>
  </div>

  <div class="booyah-box4 col-sm-5 col-sm-offset-2">
    <a href="#"><span></span></a>
    <br>
    <h1 align="center">Numbers</h1>
    <br>
  </div>

  <br class="clr" />

</div>

<br class="clr" />

</body>
