<html>
<body class="number-body">

<%= image_tag 'numbershero.jpg', class: 'hero_image2' %>

<h1>Learn Your <b>Numbers</b> With Us!</h1>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="booyah-box5 col-sm-5 ">
  <a href="practice_numbers"><span></span></a>
  <h1 align="center" >Learn</h1>
    <br /> 
  <h4>Check out all the numbers at once! Click on each number to hear what it is and see how it is spelled.</h4>
  </div>

  <div class="booyah-box6 col-sm-5 col-sm-offset-2">
    <a href="practice_numbers"><span></span></a>
    <h1 align="center">Practice</h1>
    <br />
    <h4>Try to guess each number! Don't worry if you aren't sure, just click on the number to hear what it is!</h4>
  </div>
  <br class="clr" />

</div>


</body>
</html>
